/* ------------------------------------------------------------------------------- GENERAL -- */
* {
  outline: 1px solid rgba(255, 0, 0, 0.38);
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  position: relative; }

a:hover {
  text-decoration: none; }

.contenedor {
  margin: 0 auto;
  box-sizing: border-box; }
  .contenedor .boton {
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    font-size: 15px;
    padding: 12px 20px 10px 20px;
    border: none;
    background: #2F1B41;
    margin-bottom: 240px; }
    .contenedor .boton:hover {
      background: #BE3144;
      color: #fff; }

ul {
  list-style: none; }

h2 {
  margin: 0;
  text-align: center;
  padding: 93px 0 15px 0;
  /*font-family: "Josefin Sans";*/
  font-family: "Playfair Display";
  font-size: 50px;
  color: #BE3144; }

h3 {
  font-family: "Playfair Display";
  font-size: 30px;
  color: #BE3144;
  font-style: italic; }

p {
  font-family: "Lato";
  font-size: 20px;
  font-weight: lighter; }

/* -------------------------------------------------------------------------------- HEADER -- */
header {
  /*background: url(../img/Black-and-Blue-HD-Background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;*/
  background: #F05941;
  color: #fff;
  height: 300px; }

.logo {
  display: block;
  text-align: center;
  padding: 4px 0; }

.img-logo {
  width: 70px;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  z-index: 1; }
  .img-logo:hover {
    transform: rotate(360deg); }

.menu {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: Thin;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.21); }
  .menu ul {
    margin: 0; }

/* Menu hamburguesa */
header .icon-bars {
  color: #000;
  font-size: 23px;
  padding: 4px 7px; }

.hamburguesa {
  border: none;
  background: none;
  padding-top: 7px; }

#main-navigation {
  z-index: 1;
  position: fixed;
  right: 10px;
  margin: 50px 0 0 0; }

#main-navigation ul {
  background: rgba(0, 0, 0, 0.7);
  list-style: none;
  padding: 10px;
  border-radius: 5px; }

#main-navigation ul a {
  color: #fff; }

#main-navigation ul a:hover {
  background: #f05f40;
  border-radius: 10px; }

/* Menu fijo con javascript */
.menu-fijo {
  background: rgba(255, 255, 255, 0.78);
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 1px 3px 5px rgba(255, 167, 0, 0.34); }

.menu-fijo .logo, .menu-fijo ul li a {
  color: #BE3144; }

/* Fin Menu fijo con javascript */
.menu * {
  font-size: 20px;
  color: #fff; }

.menu .link-nav:hover {
  background: #BE3144;
  color: #fff; }

nav ul {
  text-align: right;
  overflow: hidden;
  /* Limpiamos errores de float */ }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      display: inline-block;
      /* Convertimos los elementos a en elementos bloque para manipular el padding */
      padding: 20px;
      text-decoration: none;
      transition: all 0.2s; }

/* ---------------------------------------------------------------------------------- HERO -- */
.hero {
  margin: 0 auto;
  text-align: center;
  padding: 210px 0 20px 0;
  font-weight: bold; }

#nombre {
  /*font-family: "Fredoka One";*/
  font-family: "Playfair Display" !important; }

.letra {
  background: #2f1b41;
  color: #fff;
  line-height: 60%;
  display: inline-block;
  margin: 0;
  font-size: 80px !important;
  padding: 25px 25px 35px 25px;
  font-family: "Playfair Display"; }

.letra-h {
  position: relative; }

.letra-o {
  position: relative; }

.letra-l {
  position: relative; }

.letra-a {
  position: relative; }

hr {
  width: 35px;
  margin: 0 auto;
  border-width: 2px;
  border-color: #ff4d0b; }

/* ------------------------------------------------------------------------------ ABOUT ME -- */
/* ----------------------------------------------------------------------------- PORTFOLIO -- */
/* -------------------------------------------------------------------------------- SKILLS -- */
.skills .padre {
  position: relative;
  background: url(../img/clase_efecto.jpeg) no-repeat;
  background-size: auto;
  background-position: center center;
  background-attachment: scroll;
  height: 500px; }
  .skills .padre img {
    opacity: 0.5; }
.skills .hijo {
  position: absolute;
  height: 0px;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  transition: all 0.5s; }
.skills .hijo:hover {
  height: 80px; }
.skills .rojo {
  background: rgba(135, 35, 65, 0.56);
  height: 200px; }
.skills .verde {
  background: rgba(190, 49, 68, 0.56);
  height: 150px; }
.skills .azul {
  background: rgba(240, 89, 65, 0.56);
  height: 150px; }

/* -------------------------------------------------------------------------------- FOOTER -- */
/* ---------------------------------------------------------------------------- END FOOTER -- */

/*# sourceMappingURL=header.css.map */
