/* ------------------------------------------------------------------------------- GENERAL -- */
* {
  /*outline: 1px solid rgba(255, 0, 0, 0.38);*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  position: relative; }

a:hover {
  text-decoration: none; }

.contenedor {
  margin: 0 auto;
  box-sizing: border-box; }
  .contenedor .boton {
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    font-size: 15px;
    padding: 12px 20px 10px 20px;
    border: none;
    background: #2F1B41;
    margin-bottom: 240px; }
    .contenedor .boton:hover {
      background: #BE3144;
      color: #fff; }

ul {
  list-style: none; }

h2 {
  margin: 0;
  text-align: center;
  padding: 93px 0 15px 0;
  /*font-family: "Josefin Sans";*/
  font-family: "Playfair Display";
  font-size: 50px;
  color: #BE3144; }

h3 {
  font-family: "Playfair Display";
  font-size: 30px;
  color: #BE3144;
  font-style: italic;
  font-weight: bold; }

p {
  font-family: "Lato";
  font-size: 20px;
  font-weight: lighter; }

/* -------------------------------------------------------------------------------- HEADER -- */
header {
  background: url(../img/wall1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  height: 300px; }

.logo {
  display: block;
  text-align: center;
  padding: 4px 0; }

.img-logo {
  width: 70px;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  z-index: 1; }
  .img-logo:hover {
    transform: rotate(360deg); }

.menu {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: Thin;
  /*background: rgba(0, 0, 0, 0.05);
  box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.21);*/ }
  .menu ul {
    margin: 0; }
  .menu * {
    font-size: 17px;
    color: #fff; }

/* Menu hamburguesa */
.hamburguesa {
  border: none;
  background: none;
  padding-top: 7px; }

.glyphicon-menu-hamburger {
  color: #F05941;
  font-size: 40px;
  right: -21px; }

#main-navigation {
  z-index: 1;
  position: fixed;
  right: 10px;
  margin: 50px 0 0 0; }

#main-navigation ul {
  background: rgba(0, 0, 0, 0.7);
  list-style: none;
  padding: 10px;
  border-radius: 5px; }

#main-navigation ul a {
  color: #fff; }

#main-navigation ul a:hover {
  background: #f05f40;
  border-radius: 10px; }

/* Menu fijo con javascript */
.menu-fijo {
  background: rgba(255, 255, 255, 0.78);
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 1px 3px 5px rgba(255, 167, 0, 0.34); }

.menu-fijo .logo, .menu-fijo ul li a {
  color: #BE3144; }

/* Fin Menu fijo con javascript */
.menu .link-nav:hover {
  background: #BE3144;
  color: #fff; }

nav ul {
  text-align: right;
  overflow: hidden;
  /* Limpiamos errores de float */ }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      display: inline-block;
      /* Convertimos los elementos a en elementos bloque para manipular el padding */
      padding: 10px;
      text-decoration: none;
      transition: all 0.2s; }

/* ---------------------------------------------------------------------------------- HERO -- */
.hero {
  margin: 0 auto;
  text-align: center;
  padding-top: 238px;
  font-weight: bold; }

#nombre {
  /*font-family: "Fredoka One";*/
  font-family: "Dancing Script" !important;
  margin-top: 0;
  padding: 100px;
  font-size: 56px; }

.letra {
  background: #2f1b41;
  color: #fff;
  line-height: 60%;
  display: inline-block;
  margin: 0;
  font-size: 80px;
  padding: 25px 25px 35px 25px;
  font-family: "Playfair Display"; }

.letra-h {
  position: relative; }

.letra-o {
  position: relative; }

.letra-l {
  position: relative; }

.letra-a {
  position: relative; }

hr {
  width: 35px;
  margin: 0 auto;
  border-width: 2px;
  border-color: #ff4d0b; }

/* ------------------------------------------------------------------------------ ABOUT ME -- */
.aboutme {
  /*background: url(../img/rocas.jpeg) no-repeat;
  background-size: cover;
  background-position:top top;
  background-attachment: fixed;*/
  padding-bottom: 100px; }

.container-aboutme {
  height: 580px; }
  .container-aboutme .who {
    background: rgba(0, 0, 0, 0.31);
    color: #fff;
    padding: 15px 35px 30px 35px; }
    .container-aboutme .who p {
      font-size: 18px; }

/* ----------------------------------------------------------------------------- PORTFOLIO -- */
/* -------------------------------------------------------------------------------- SKILLS -- */
.skills {
  /*background: url(../img/wall11.jpg) no-repeat;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;*/
  padding-bottom: 100px; }
  .skills #fill {
    background: #F05941;
    padding: 15px;
    font-size: 20px;
    color: #fff; }
  .skills .padre {
    position: relative;
    background: url(../img/clase_efecto.jpeg) no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: scroll;
    height: 600px; }
    .skills .padre img {
      opacity: 0.5; }
  .skills .hijo {
    position: absolute;
    height: 0px;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    transition: all 0.8s; }
    .skills .hijo * {
      font-size: 25px;
      color: #fff; }
  .skills .hijo:hover {
    height: 80px; }
  .skills .html {
    background: rgba(47, 27, 65, 0.55);
    height: 130px;
    padding: 45px; }
  .skills .css {
    background: rgba(135, 35, 65, 0.55);
    height: 120px;
    padding: 39px; }
  .skills .js {
    background: rgba(190, 49, 68, 0.55);
    height: 80px;
    padding: 20px; }
  .skills .bootstrap {
    background: rgba(240, 89, 65, 0.55);
    height: 90px;
    padding: 25px; }
  .skills .jquery {
    background: rgba(174, 175, 122, 0.55);
    height: 90px;
    padding: 25px; }
  .skills .ajax {
    background: rgba(54, 209, 196, 0.55);
    height: 20px;
    line-height: 17px; }
  .skills .angular {
    background: rgba(220, 55, 55, 0.55);
    height: 20px;
    line-height: 19px; }
  .skills .fun {
    background: rgba(99, 10, 16, 0.55);
    height: 50px;
    line-height: 45px; }

/* -------------------------------------------------------------------------------- FOOTER -- */
/* ---------------------------------------------------------------------------- END FOOTER -- */
/* -----------------------------------------
   Portfolio
----------------------------------------- */
#showcase {
  opacity: 0;
  padding: 10px 0;
  border-top: 1px solid #8e8e8e;
  border-bottom: 1px solid #8e8e8e;
  margin-top: 70px; }

#inner-showcase {
  background: url(../img/wall8.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 480px;
  display: none;
  -webkit-box-shadow: inset 1px 5px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 5px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 5px 5px 3px rgba(0, 0, 0, 0.5); }

.animated {
  -webkit-animation: vroum 1.5s ease-in-out;
  -moz-animation: vroum 1.5s ease-in-out;
  animation: vroum 1.5s ease-in-out; }

.portfolio-item {
  height: 195px;
  width: 349x;
  float: left;
  margin: 15px;
  border: 1px solid #737373;
  padding: 10px;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -ms-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out; }
  .portfolio-item:hover {
    background: #BE3144;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out; }
  .portfolio-item img {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    left: -49px;
    width: 400px; }

#close {
  position: absolute;
  top: -10px;
  right: 15px;
  font-size: 50px;
  background: #000;
  color: #fff;
  padding: 10px;
  z-index: 1000; }

#close:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

.clicked {
  background: #BE3144;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

.work-title {
  color: #109f9a;
  font-size: 29px; }

.work-text {
  color: #fff;
  font-size: 17px; }

.work-img {
  -webkit-box-shadow: 1px 5px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.5); }

.work-c {
  margin-top: 25px; }

.thumb {
  overflow: hidden;
  background: url(../img/2.jpg) repeat;
  height: 100%;
  width: 100%;
  text-align: center; }

.thumb img {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

.thumb img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

.visit-button {
  padding: 15px 0px;
  color: #fff;
  display: block;
  font-size: 16px;
  background: #F05941;
  margin: 30px 0px;
  text-transform: uppercase;
  width: 80%;
  -webkit-transition: background 0.7s ease-in;
  -moz-transition: background 0.7s ease-in;
  -ms-transition: background 0.7s ease-in;
  -o-transition: background 0.7s ease-in;
  transition: background 0.7s ease-in; }
  .visit-button span {
    font-family: "lato"; }

.visit-button:before {
  /*background: #109f9a url(../img/logo_white.png) center center no-repeat; background-size: contain; content: "";*/
  padding: 12px 25px;
  margin-right: 15px;
  box-shadow: 2px 0px 2px #ed5942; }

.visit-button:hover {
  background: #bf3f2b;
  color: #fff;
  -webkit-transition: background 0.7s ease-out;
  -moz-transition: background 0.7s ease-out;
  -ms-transition: background 0.7s ease-out;
  -o-transition: background 0.7s ease-out;
  transition: background 0.7s ease-out; }

/*# sourceMappingURL=header.css.map */
