@media (max-width:549px) {
    .hero {
        font-size: 30px;
        padding-top: 100px;
    }
    .contenedor .btn {
        margin-bottom: 80px;
    }
    .desktop-menu {
        text-align: center;
    }
}
@media (min-width:550px) {
    .contenedor {
        width: 500px;
    }
}
@media (min-width: 768px) {
    .contenedor {
        width: 450px;
    }
}
@media (min-width: 992px) {
    .contenedor {
        width: 590px;
    }
}
@media (min-width: 1200px) {
    .contenedor {
        width: 590px;
    }
}
@media screen and (max-width:768px) {
    
}

@media screen and (max-width:450px) {
    #main-navigation ul li {
        display: block;
    }
    .img-logo {
        width: 70px;
        position: absolute;
        left: 50%;
        margin-left: 10px;
    }
    .letra {
        font-size: 40px;
        padding: 10px;
    }
    .container-aboutme .who {
        right: 0;
        margin: 0 15px;
    }
}
