@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5p8itr');
  src:  url('fonts/icomoon.eot?5p8itr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5p8itr') format('truetype'),
    url('fonts/icomoon.woff?5p8itr') format('woff'),
    url('fonts/icomoon.svg?5p8itr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots-three-vertical:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-full-moon:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-codepen:before {
  content: "\eae8";
}

