/* ------------------------------------------------------------------------------- GENERAL -- */
$color-one: #216a5c;
$color-one: #19695f;
$color-one: #2b7862;
$color-one: #44d2a9;
$color-one: #023241;
$color-one: #010310;
$color-one: #658b8d;
$color-one: #032e3a;
$color-one: #00061d;

//combinacion 1
$color-one: #004b62;
$color-one: #00828f;
$color-one: #81c0c5;
$color-one-fondo: #f2eeed;
$color-one: #f9b401;

//combinacion 2
$comb-dos: #854e53;
$comb-dos: #ba5064;
$comb-dos-fondo: #b2ebe5;
$comb-dos: #298d9c;
$comb-dos: #025d70;

$font-serif: 'Dancing Script';
$font-sans-serif: 'Lato';
$font-menu: 'Josefin Sans';

$color-js: rgba(133, 78, 83, 0.77);

* {
    //outline: 1px solid rgba(255, 0, 0, 0.38);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
}
a:hover {
    text-decoration: none;
}
.contenedor {
    margin: 0 auto;
    box-sizing: border-box;
    
    .boton {
        margin: 0 auto;
        display: block;
        border-radius: 30px;
        font-size: 15px;
        padding: 12px 20px 10px 20px;
        border: none;
        background: #2F1B41;
        margin-bottom: 240px;
        
        &:hover {
            background: #BE3144;
            color: #fff;
        }
    }
}
ul {
    list-style: none;
}
h2 {
    margin: 0;
    text-align: center;
    padding: 93px 0 15px 0;
    //font-family: "Josefin Sans";
    font-family: $font-serif;
    font-size: 50px;
    color: #BE3144;
}
h3 {
    font-family: $font-serif;
    font-size: 30px;
    color: #BE3144;
    font-weight: bold;
}
p {
    font-family: $font-sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

/* -------------------------------------------------------------------------------- HEADER -- */
header {
    animation: fabi 8s infinite;
    background-size:cover;
    background-attachment: fixed;
}
@keyframes fabi {
    0%, 32% {
        background: url(../img/wsbf12-1.jpg) no-repeat;
        background-attachment: fixed;
        background-size:cover;
    }
    35%, 65% {
        background: url(../img/wsbf13-1-1.jpg) no-repeat;
        background-attachment: fixed;
        background-size:cover;
    }
    68%, 100% {
        background: url(../img/wsbf17-2.jpg) no-repeat;
        background-attachment: fixed;
        background-size:cover;
    }
}

.fondo {
    background: rgba(133, 78, 83, 0.49) !important;
}

.logo {
    display: block;
    text-align: center;
    padding: 4px 0;
}

.img-logo{
    width: 70px;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    position: fixed;
    left: 50%;
    margin-left: -35px;
    z-index: 1000;
    &:hover{
        transform: rotate(360deg);
    }
}
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    z-index: 900;
    
    .container-fluid {
        padding: 0 !important;
    }
}
.navbar-collapse {
    background: rgba(0, 0, 0, 0);
    color: #fff;
}

.nav {
    padding: 0 15px;
    width: 100%;
}

.nav>li {
    padding: 0;
}

.navbar-nav>li>a {
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a{
    color: #f2eeed;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color: #f2eeed;
    background: rgba(44, 44, 44, 0.76);
}
.navbar-toggle{
    margin-right: 23px;
    border: none;
}
.navbar-toggle:focus, .navbar-toggle:hover{
    background-color: none !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: rgba(64, 0, 0, 0.49) !important;
}
/* ---------------------------------------------------------------------------------- HERO -- */
.hero {
    margin: 0 auto;
    text-align: center;
    padding-top: 238px;
    font-weight: bold;
}
#nombre {
    /*font-family: "Fredoka One";*/
    font-family: "Dancing Script" !important;
    margin-top: 0;
    padding: 100px;
    font-size: 56px;
    color: #fff;
}
.letra{
    background: rgba(47, 27, 65, 1);
    color: #fff;
    line-height: 60%;
    display: inline-block;
    margin: 0;
    font-size: 80px;
    padding: 25px 25px 35px 25px;
    font-family: "Playfair Display";
}
.letra-h{
    position: relative;
}
.letra-o{
    position: relative;
}
.letra-l{
    position: relative;
}
.letra-a{
    position: relative;
}
hr {
    width: 35px;
    margin: 0 auto;
    border-width: 2px;
    border-color: #ff4d0b;
}
/* ------------------------------------------------------------------------------ ABOUT ME -- */
.aboutme {
    background: linear-gradient(to bottom, #f2eeed, white);
    padding-bottom: 100px;
}
.container-aboutme {
    font-size: 18px;
}

/* ----------------------------------------------------------------------------- PORTFOLIO -- */
.list-portfolio {
    width: 33%;
    margin: 0;
    float: left;
}

/* -------------------------------------------------------------------------------- SKILLS -- */

.skills{
    
    //background: $color-one-fondo;
    padding-bottom: 100px;
    
    .logo-skill {
        z-index: 1000;
    }
    #fill {
        background: #F05941;
        padding: 15px;
        font-size: 20px;
        color: #fff;
    }
    .padre{
        position: relative;
        /*background: url(../img/logo-skill.png) no-repeat;
        background-size: auto;
        background-position:center center;
        background-attachment: scroll;*/
        height: 500px;
        
        img{
            opacity: 1;
        }
    }
    .hijo{
        z-index: -2;
        position: absolute;
        height: 0px;
        overflow: hidden;
        width: 500px;
        bottom: 0;
        transition: all 0.8s;
        * {
            font-size: 25px;
            color: #fff;
        }
    }
    .hijo:hover{
        height: 80px;
    }
    .html{ background: rgba(47, 27, 65, 0.55); height:100px; padding: 45px;z-index: -2;}
    .css{ background: rgba(135, 35, 65, 0.55); height:100px; padding: 39px;z-index: -2;}
    .js{ background: rgba(190, 49, 68, 0.55); height:70px; padding: 20px;z-index: -2;}
    .bootstrap{ background: rgba(240, 89, 65, 0.55); height:80px; padding: 25px;z-index: -2;}
    .jquery{ background: rgba(174, 175, 122, 0.55); height:70px; padding: 25px;z-index: -2;}
    .ajax{ background: rgba(54, 209, 196, 0.55); height:40px; line-height: 17px;z-index: -2;}
    .angular{ background: rgba(220, 55, 55, 0.55); height:40px; line-height: 19px;z-index: -2;}
}

/* -------------------------------------------------------------------------------- FOOTER -- */

/* ---------------------------------------------------------------------------- END FOOTER -- */



/* -----------------------------------------
   Portfolio
----------------------------------------- */


#showcase {
    opacity:0; 
    padding:10px 0; 
    border-top:1px solid #8e8e8e; 
    border-bottom:1px solid #8e8e8e; 
    margin-top:70px; 
}
#inner-showcase {
background: url(../img/wall8.jpg) no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    min-height:480px; 
    display:none;
    -webkit-box-shadow: inset 1px 5px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 5px 5px 3px rgba(0,0,0,0.5);
    box-shadow: inset 1px 5px 5px 3px rgba(0,0,0,0.5);
}

.animated { 
    -webkit-animation: vroum 1.5s ease-in-out; 
	-moz-animation: vroum 1.5s ease-in-out;
    animation: vroum 1.5s ease-in-out;
}


.portfolio-item {
    height:195px;
    padding:10px;
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -ms-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    
    &:hover{
        background: #BE3144;

        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }
    & img {
        margin: 0 auto;
        position: relative;
        display: inline-block;
        left: -22px;
        width: 400px;
    }
}


// BOTON DE CERRAR
#close {position:absolute; top:-10px; right:15px; font-size: 50px; background: #000; color: #fff; padding: 10px; z-index: 1000}
#close:hover { opacity:0.7; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}

.clicked{
background:#BE3144;
opacity:0.7;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.work-title{color:#109f9a; font-size:29px;}
.work-text {color:#fff; font-size:17px;}

.work-img {-webkit-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.5);}

.work-c {margin-top:25px;}

.thumb {overflow:hidden; background:url(../img/wall9.jpg) repeat; height:100%; width:100%;text-align:center;}
.thumb img {
-webkit-transition: all 0.4s ease-out;
-moz-transition: all 0.4s ease-out;
-ms-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;
}
.thumb img:hover {
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
-webkit-transition: all 0.4s ease-out;
-moz-transition: all 0.4s ease-out;
-ms-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;}

.visit-button {padding:15px 0px;color:#fff; display:block; font-size:16px; background:#F05941; margin:30px 0px; text-transform: uppercase; width:80%; 
-webkit-transition: background 0.7s ease-in;
-moz-transition: background 0.7s ease-in;
-ms-transition: background 0.7s ease-in;
-o-transition: background 0.7s ease-in;
transition: background 0.7s ease-in;
    span {
        font-family: "lato";
    }
}

.visit-button:before{ /*background: #109f9a url(../img/logo_white.png) center center no-repeat; background-size: contain; content: "";*/ padding: 12px 25px; margin-right: 15px; box-shadow: 2px 0px 2px #ed5942;}


.visit-button:hover{
background: #bf3f2b; color:#fff; 
-webkit-transition: background 0.7s ease-out;
-moz-transition: background 0.7s ease-out;
-ms-transition: background 0.7s ease-out;
-o-transition: background 0.7s ease-out;
transition: background 0.7s ease-out;
 }







