@media screen and (max-width: 1199px){
    .portfolio-item img {
        left: -48px;
    }
}
@media screen and (max-width: 991px) {
    #close {
        top: -36px;
    }
    .visit-button {
        display: inline-block;
        width: 51%;
        margin: 10px 0;
    }
    #inner-showcase .row {
        padding: 0 30px 40px 30px;
    }
    .portfolio-item img {
        left: -84px;
    }
    .container-aboutme p {
        padding: 0;
    }
    .about-p {
        margin-top: 20px;
    }
    .img-about {
        margin-top: 40px;
    }
    .skills ul {
        text-align: left;
    }
}
@media screen and (max-width: 900px){
    .list-portfolio{
        width: 50%;
    }
    .portfolio-item img {
        left: -23px;
    }
}
@media screen and (max-width: 784px){
    .skills .row>div{
        width: 100% !important;
    }
    .skills ul{
        margin-top: 20px;
        margin-left: 50px;
        li {
            display: inline-block;
            width: 200px;
        }
    }
    .skills .padre, .skills .hijo{
        width: 500px !important;
    }
    .skills .padre {
        margin: 0 auto;
    }
    .skills h4{
        padding-left: 20px;
    }
    .skills {
        padding-bottom: 0;
    }
    .portfolio-item img {
        left: -33px;
    }
}
@media screen and (max-width: 700px) {
    #nombre {
        padding: 50px 0px;
    }
}
@media screen and (max-width: 767px) {
    .col-xs-offset-4 {
        margin-left: 0 !important;
    }
    .col-xs-2 {
        width: 100% !important;
    }
    .navbar-nav>li>a {
        text-align: center;
    }
    .navbar-nav {
        margin: 0;
    }
    .nav {
        padding: 0;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        margin-top: 40px;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: rgba(0, 0, 0, 0);
    }
    .letra {
        font-size: 60px;
    }
}

@media screen and (max-width: 660px){
    .list-portfolio{
        width: 100%;
        padding: 10px 80px !important;
    }
    .portfolio-item img {
        left: 0;
    }
}

@media screen and (max-width: 611px){
    .list-portfolio{
        padding: 10px 40px !important;
    }
}

@media screen and (max-width: 600px){
    .letra {
        font-size: 50px;
    }
}

@media screen and (max-width: 535px){
    .list-portfolio{
        padding: 10px 0px !important;
    }
    .skills .padre img {
        width: 350px;
    }
    .skills .padre, .skills .hijo{
        width: 350px !important;
        height: 350px !important;
    }
}

@media screen and (max-width: 514px){
    .list-portfolio{
        width: 100%;
        padding: 10px 0px !important;
    }
    .portfolio-item img {
        left: 0;
    }
}

@media screen and (max-width: 450px){
    .letra {
        font-size: 35px;
        padding: 20px 20px 25px 20px;
    }
}

@media screen and (max-width: 400px){
    .letra {
        font-size: 28px;
    }
}
